
body {background-color: #4f5d75;}


.externalFrame {
    width: 50em;
    height: 30em;

    background-color: rgb(188, 56, 89);

    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 70px;

    border-radius: 2%;
}

    .consoleBody {
        width: 48.5em;
        height: 27em;
        
        background-color: rgb(217, 202, 180);
        background: linear-gradient(to top left, #b1aca5 23%, #e1d1c3 39%);

        margin: 0 auto;
        border-radius: 2%;

        display: grid;
        grid-template-columns: 30% 40% 30%;
        
    }
        .screenFrame{

            position: relative;
        
            left: -1.5em;

            display: grid;
            grid-template-rows: 20% 60% 20%;
        }

            .gameName{
                text-align: center;
                font-weight: bold;
                font-family: Arial;


                position: relative;
                top:3em;
                
            }

            .screen {
                width: 20em;
                height: 14em;
                background-color: grey;
            
                position: relative;

                border: rgb(188, 56, 89);
                border-style: solid;
                border-width: 0.3em;
                width: 20em;
                height: 14em;
                
            }

                .gif {
                    width: 16em;
                    height: 12em;
                    position: relative;
                    top: 1em;
                    left: 1em;

                }
            
            .nintendoLogo{
                position: relative;

                display: flex;
                align-items: flex-start;
                
                position: relative;
                top: -1em;
                left: 7em;
                

            }

        .leftButtons {

            display: grid;
            grid-template-rows: 50%;
        }



            .imgLogo {
                width: 8em;
                height: 6em;

                position: relative;
                top: 3em;
                left: 3em;
            }

            .directionButton{

                position: relative;
                top: 2em;
                left: 2em;
            }

            .rightButtons {

                display: grid;
                grid-template-rows: repeat(2, 50%);
            }

                .topRightButtons{
                    
                    display: grid;
                    grid-template-rows: repeat(3, 33%);
                }

                    .gameButtonBorder {

                        background-color: rgb(188, 56, 89);
                        width: 4em;
                        height: 2em;
                        
                        
                        position: relative;
                        top: 38%;
                        left: 10%;
                        border-radius: 25px;

                    }

                        .gameButton{
                        
                            background-color: rgb(189, 185, 188);
                            width: 3.9em;
                            height: 2em;

                            position: relative;
                            top: 0.15em;
                            left: 10%;
                            border-radius: 25px;
                        }

                        .gameButtonText{
                        
                            text-align: center;
                            font-weight: bold;
                            font-family: Arial;
                            font-size: 14px;

                            position: relative;
                            top: 0.4em;
                        }

                    .timeButtonBorder {
                        background-color: rgb(188, 56, 89);
                        width: 4em;
                        height: 2em;
                        
                        
                        position: relative;
                        top: 15%;
                        left: 10%;
                        border-radius: 25px;
                    }

                        .timeButton{
                            background-color: rgb(189, 185, 188);
                            width: 3.9em;
                            height: 2em;

                            position: relative;
                            top: 0.15em;
                            left: 10%;
                            border-radius: 25px;
                        }

                        .timeButtonText{
                            text-align: center;
                            font-weight: bold;
                            font-family: Arial;
                            font-size: 14px;

                            position: relative;
                            top: 0.4em;
                        }
                
                    .pauseButtonBorder{
                        background-color: rgb(188, 56, 89);
                        width: 4em;
                        height: 2em;
                        
                        
                        position: relative;
                        top: -10%;
                        left: 10%;
                        border-radius: 25px;
                    }

                        .pauseButton{
                            background-color: rgb(189, 185, 188);
                            width: 3.9em;
                            height: 2em;

                            position: relative;
                            top: 0.15em;
                            left: 10%;
                            border-radius: 25px;
                        }

                        .pauseButtonText{
                            text-align: center;
                            font-weight: bold;
                            font-family: Arial;
                            font-size: 14px;

                            position: relative;
                            top: 0.4em;
                            left: -0.5em;
                        }



                .bottomRightButton {

                    display: grid ;
                    grid-template-columns: 50% 50%;

                }

                    .roundButton {
                        background-color: rgb(188, 56, 89);
                        width: 4.7em;
                        height: 4.7em;
                        
                        
                        position: relative;
                        top: 38%;
                        left: 17%;
                        border-radius: 50px;
                    }

                        .button {
                            background-color: rgb(207, 93, 120);
                            width: 4.5em;
                            height: 4.5em;

                            border-radius: 50%;
                            position: relative;
                            top: 0.5em;
                            left: 10%;
                        }
            
                        .text{
                            text-align: center;
                            font-weight: bold;
                            font-family: Arial;
                        }
    
